<header class="jumbotron">
    <h3>
        <strong>Witaj, oto wszystkie pomieszczenia w systemie.</strong>
    </h3>
</header>


<div class="add-room" *ngIf="flag">
    <button *ngIf="flag" class="green" (click)="addRoom()">Dodaj pomieszczenie</button>
    <section>
        <p>
            <span *ngIf="flagAddRoom" class="name"><strong>Piętro: </strong><input  [(ngModel)]="newRoom.floor" placeholder="Piętro" type="text" title="Numer piętra"/></span><br> 
            <span *ngIf="flagAddRoom"class="surname"><strong>Numer sali: </strong><input  [(ngModel)]="newRoom.roomNumber" placeholder="Numer sali" type="text" title="Numer sali"/></span><br>
            <span *ngIf="flagAddRoom"class="title"><strong>Dodatkowe info: </strong><br>
            <input [(ngModel)]="newRoom.additionInformation.properties" placeholder="Rodzaj zajęć" type="text" title="Rodzaj zajęć"/><br>
            <input [(ngModel)]="newRoom.additionInformation.count" placeholder="Ilość stanowisk/osób" type="text" title="Ilość stanowisk lub osób"/><br>
            <input [(ngModel)]="newRoom.additionInformation.additional" placeholder="Więcej info" type="text" title="Inne pomocne informacje"/>
        </span>
        </p>
    
        <div class="edit-wrapper">
          <button *ngIf="flagAddRoom" class="green" (click)="saveRoom()">Zapisz</button>
          <button *ngIf="flagAddRoom" class="red" (click)="cancelRoom()">X</button>
        </div>
      </section>
</div>

<div class="all-rooms">
    <div *ngIf="groundFloor.length!=0" class="float-left">
        <strong>Parter:</strong><br>
        <div id="room" class="float-left"  *ngFor="let room of groundFloor" [routerLink]="['/room/', room.roomId]">
            Piętro: {{room.floor}}<br>
            Numer sali: {{room.roomNumber }}<br>
        </div>
    </div>
    <div *ngIf="firstFloor.length!=0" class="float-left">
       <strong> Piętro 1:</strong><br>
        <div id="room" class="float-left"  *ngFor="let room of firstFloor" [routerLink]="['/room/', room.roomId]">
            Piętro: {{room.floor}}<br>
            Numer sali: {{room.roomNumber }}<br>
        </div>
    </div>
    <div *ngIf="secondFloor.length!=0" class="float-left">
        <strong> Piętro 2:</strong><br>
        <div id="room" class="float-left"  *ngFor="let room of secondFloor" [routerLink]="['/room/', room.roomId]">
            Piętro: {{room.floor}}<br>
            Numer sali: {{room.roomNumber }}<br>
        </div>
    </div>
    <div *ngIf="thirdFloor.length!=0" class="float-left">
        <strong> Piętro 3:</strong><br>
        <div id="room" class="float-left"  *ngFor="let room of thirdFloor" [routerLink]="['/room/', room.roomId]">
            Piętro: {{room.floor}}<br>
            Numer sali: {{room.roomNumber }}<br>
        </div>
    </div>
    <div *ngIf="forthFloor.length!=0" class="float-left">
        <strong> Piętro 4:</strong><br>
        <div id="room" class="float-left"  *ngFor="let room of forthFloor" [routerLink]="['/room/', room.roomId]">
            Piętro: {{room.floor}}<br>
            Numer sali: {{room.roomNumber }}<br>
        </div>
    </div>
</div>