<!DOCTYPE html>
<html lang="pl">
  <head>
    ...
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <nav class="navbar navbar-expand navbar-dark bg-dark">
        <a href="#" class="navbar-brand">Rezerwacja sal</a>
        <ul class="navbar-nav mr-auto" routerLinkActive="active">
          <li class="nav-item">
            <a href="/home" class="nav-link" routerLink="home">Home </a>
          </li>
          <li class="nav-item" *ngIf="showAdminBoard">
            <a href="/admin" class="nav-link" routerLink="admin">Admin Board</a>
          </li>
          <li class="nav-item">
            <a href="/kadra" class="nav-link" routerLink="kadra">Kadra</a>
          </li>
          <li class="nav-item">
            <a href="/room" class="nav-link" routerLink="room">Pomieszczenia</a>
          </li>
          <li class="nav-item">
            <a href="/profile" class="nav-link" *ngIf="isLoggedIn" routerLink="profile">Twój profil</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
          <li class="nav-item">
            <a href="/register" class="nav-link" routerLink="register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a href="/login" class="nav-link" routerLink="login">Login</a>
          </li>
        </ul>
    
        <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
          <li class="nav-item">
            <a href="/profile" class="nav-link" routerLink="profile">{{ username }}</a>
          </li>
          <li class="nav-item">
            <a href class="nav-link" (click)="logout()">Wyloguj mnie</a>
          </li>
        </ul>
      </nav>
    
      <div class="container">
        <router-outlet></router-outlet>
      </div>
    </div>
    
  </body>
</html>



