<div class="container">
    <div class="Text">
        <h2 class="jumbotron">
            Witam w aplikacji webowej Jakuba Szadkowskiego.
        </h2>
        <p>
            Strona powstała jako projekt do pracy inżynierskiej.
            Założenia:
        </p>
            <ul style="list-style-type:disc">
                <li>Aplikacja webowa.</li>
                <ul>
                    <li>Angular wraz z Bootstrapem jako frontend</li>
                    <li>Spring-Boot jako backend</li>
                    <li>MongoDB jako baza danych</li>
                </ul>
                <li>Strona umożliwia tworzenie rezerwacji sal</li>
                <li>Posiada przynajmniej 2 typy użytkowników</li>
                
            </ul> 
        <p>
            Wyróżniam 3 różnych użytkowników.
        </p>
        <ul style="list-style-type:disc">
            <li>Użytkownik niezalogowany.</li>
            <li>Użytkownik zalogowany (prowadzących zajęć).</li>
            <li>Administrator.</li>
        </ul>
        <p>
            Użytkownik niezalogowany ma dostęp do stron:<br>
            Kadra - umożliwia podejrzenie wszystkich prowadzących zajęcia, ich informacji i ich rezerwacji.<br>
            Pomieszczenia - podgląd wszystkich sali oraz rezerwacji.<br><br>
            Użytkownik zalogowany ma dostęp do stron:<br>
            Kadra - dostęp jest taki sam jak w przypadku użytkownika niezalogowanego.<br>
            Pomieszczenia - dostęp jest podobny z wyjątkiem tego że może dokonać rezerwacji sali korzystając z kalendarza.<br>
            Twój profil - gdzie może zaktualizować swoje dane.<br><br>
            Administrator ma dostęp do wszystkich stron co użytkownik zalogowany oraz do:<br>
            Admin Board - gdzie może zaktualizować informacje o dowolnej sali oraz dowolnym użytkowniku portalu.
        </p>
    </div>
</div>
  